.header__menu-button {
    display: none;
    grid-area: button;
    transition: opacity 0.5s;
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url(../../../images/icon__burger.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}