.section_size_narrow {
    margin-left: auto;
    margin-right: auto;
}

/* пробую реализовать сложный модификатор по БЭМ для управления шириной секций
 при других разрешениях max-width: calc(100% - 1px*2); */

@media screen and (max-width: 980px) {
    .section_size_narrow {
        width: calc(100% - 50px);
    }
}

@media screen and (max-width: 600px) {
    .section_size_narrow {
        width: calc(100% - 25px);
    }
}

@media screen and (max-width: 700px) {
    .section_size_narrow {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 400px) {
    .section_size_narrow {
        width: calc(100% - 38px);
    }
}
