.header__menu-li {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    list-style: none;
    column-gap: 24px;
    row-gap: 10px;
    flex-wrap: wrap;
    grid-area: menu;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
}