.popup {
	background-color: rgba(0, 0, 0, 0.5);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.6s ease-in, visibility 0.6s ease-in;
	cursor: pointer;
	display: flex; /* Поменять в popupOpened на display: flex; */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}
