.profile__edit {
	background-image: url(../../../images/Edit-Button.svg);
	background-size: 24px 24px;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	background-color: transparent;
	border: solid 1px #fff;
	cursor: pointer;
	margin-top: 15px;
	padding: 0;
}

.profile__edit:hover {
	cursor: pointer;
	opacity: 0.6;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
}

@media screen and (max-width: 352px) {
	.profile__edit {
		width: 18px;
		height: 18px;
		margin: 0;
		background-size: 18px 18px;
	}
}
