.initial-window__submit-button {
    cursor: pointer;
    margin-top: 216px;
    padding: 14px;
    border: none;
    border-radius: 2px;
    background-color: #fff;
    color: #000000;
    transition: opacity .5s;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}