.popup__container {
	max-width: 470px;
	/* width: 100%; */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media screen and (max-width: 480px) {
	.popup__container {
		width: calc(100% - 19px);
	}
}

@media screen and (max-width: 412px) {
	.popup__container {
		margin-left: 19px;
		margin-right: 19px;
	}
}

@media screen and (max-width: 370px) {
	.popup__container {
		flex-wrap: nowrap;
		flex-direction: column;
		gap: 16px;
	}
}

@media screen and (max-width: 364px) {
	.popup__container {
		max-width: 282px;
		margin: 0;
	}
}
