.popup__submit-button {
    width: 358px;
    height: 50px;
    margin: 0;
    padding: 0;
    margin-top: 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border: none;
}

.popup__submit-button:hover {
    opacity: 0.8;

    transition-property: opacity;
    transition-duration: 0.8s;
    transition-timing-function: ease-in;
    cursor: pointer;
    background-color: black;
    border-radius: 2px;
    color: #fff;

}

@media screen and (max-width: 480px) {
    .popup__submit-button {
        width: 100%;
        margin-top: 13px;
        font-size: 14px;
        line-height: 17px;
    }
}
