.popup__close {
	background-image: url(../../../images/Close.svg);
	background-size: cover;
	width: 32px;
	height: 32px;
	background-color: transparent;
	align-self: end;
	border: none;
}

.popup__close:hover {
	cursor: pointer;
	opacity: 0.6;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
}

@media screen and (max-width: 480px) {
	.popup__close {
		width: 27px;
		height: 27px;
	}
}

@media screen and (max-width: 413px) {
	.popup__close {
		width: 20px;
		height: 20px;
		margin: 0;
	}
}
