.initial-window__input {
    box-sizing: border-box;
    padding: 0;
    padding-bottom: 13px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.initial-window__input::placeholder {
    font-weight: 400;
    color: #ccc;
}