@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/main-page/main-page.css);
@import url(./blocks/body-container/body-container.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__menu-button/header__menu-button.css);
@import url(./blocks/header/__menu-button/_active/header__menu-button_active.css);
@import url(./blocks/header/__menu/_active/header__menu_active.css);
@import url(./blocks/header/__menu-li/header__menu-li.css);
@import url(./blocks/header/__menu-item/header__menu-item.css);
@import url(./blocks/main-content/main-content.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__name-content/profile__name-content.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__aboute/profile__aboute.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/section/section.css);
@import url(./blocks/section/_size/section_size_narrow.css);
@import url(./blocks/main-content/main-content.css);
@import url(./blocks/element/__photo/element__photo.css);
@import url(./blocks/element/__photo-info/element__photo-info.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__button-like/element__button-like.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__author/footer__author.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__submit-button/popup__submit-button.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/element/__button-like/_active/element__button-like_active.css);
@import url(./blocks/popup/__cards-close/popup__cards-close.css);
@import url(./blocks/element/__button-trash/element__button-trash.css);
@import url(./blocks/popup/__container/_image/popup__container_image.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__wrapper/popup__wrapper.css);
@import url(./blocks/popup/__close-image/popup__close-image.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_visible/popup__input-error_visible.css);
@import url(./blocks/popup/__submit-button/_invalid/popup__submit-button_invalid.css);
@import url(./blocks/popup/__submit-button/_valid/popup__submit-button_valid.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/element/__like-number/element__like-number.css);
@import url(./blocks/popup/__image-open/popup_image-open.css);
@import url(./blocks/element/__button-trash/_visible/element__button-trash_visible.css);
@import url(blocks/Loader-css/Loader.css);
@import url(blocks/initial-window/initial-window.css);
@import url(blocks/initial-window/__title/initial-window__title.css);
@import url(blocks/initial-window/__form/initial-window__form.css);
@import url(blocks/initial-window/__input/initial-window__input.css);
@import url(blocks/initial-window/__input-error/initial-window__input-error.css);
@import url(blocks/initial-window/__submit-button/initial-window__submit-button.css);
@import url(blocks/initial-window/__span-text/initial-window__span-text.css);
@import url(./blocks/initial-window/__link/initial-window__link.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__information-message/popup__information-message.css);
@import url(./blocks/popup/__information-message/_success/popup__information-message_success.css);
@import url(./blocks/popup/__information-message/_fail/popup__information-message_fail.css);
@import url(./blocks/popup/__container/_background/popup__container_background.css);


