.element__button-trash {
	background-image: url(../../../images/Trash.svg);
	background-size: 18px 19px;
	width: 18px;
	height: 19px;
	background-color: transparent;
	background-repeat: no-repeat;
	position: absolute;
	border-style: none;
	padding: 0;
	cursor: pointer;
	margin: 0;
	margin-left: 244px;
	margin-top: 20px;
	margin-right: 20px;
	display: none;
}

.element__button-trash:hover {
	opacity: 0.5;
	transition-timing-function: ease-in-out;
	transition-duration: 0.6s;
}

@media screen and (max-width: 618px) {
	.element__button-trash {
		margin-right: 20px;
	}
}
